@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream text-text-main font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

@layer utilities {
  .fill-openai {
    fill: #10a37f;
  }

  .fill-anthropic {
    fill: #d0c0a6;
    /* Beige/Sand */
  }

  .fill-deepmind {
    fill: #4285f4;
  }

  .fill-meta {
    fill: #0668e1;
  }
}